body {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 26px;
}

#sky {
    font-size: 20px;
}

#temperature {
    font-size: 18px;
}

.text-center {
    text-align: center;
}